.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-details {
    flex: 0 0 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.contact-details h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.photo {
    flex: 0 0 50%;
    overflow: hidden;
    background: url('../../assets/doctorImage.jpg') center/cover no-repeat;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .container-contact {
        flex-direction: column;
    }

    .contact-details {
        flex: 1;
    }

    .photo {
        flex: 1;
        height: 300px; /* Adjust the height as needed */
    }
}



.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-details {
    flex: 0 0 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.contact-details h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.photo {
    flex: 0 0 50%;
    overflow: hidden;
    background: url('../../assets/doctorImage.jpg') center/cover no-repeat;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .container-contact {
        flex-direction: column;
    }

    .contact-details {
        flex: 1;
    }

    .photo {
        flex: 1;
        height: 300px; /* Adjust the height as needed */
    }
}


.container-details3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top:10%;
    padding-bottom: 10%;
}

.contact-details3 {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 90%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #439fe6;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.profile-photo3 {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

h13 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

p3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;
}

.social-links3 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-links3 a3 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-links3 a3:hover {
    color: #0078d4;
}

.social-links3 i3 {
    margin-right: 8px;
}

.contact-info3 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #fff;
    display: flex;
            flex-direction: column; /* Updated to column for phone size */
            align-items: center;
}

@media only screen and (max-width: 768px) {
    .container-details3 {
        flex-direction: column;
    }

    .contact-details3 {
        margin-right: 0;
        margin-bottom: 20px;
    }
}